[submodule "src/lib/uECC"]
	path = src/lib/uECC
	url = https://github.com/kmackay/micro-ecc
[submodule "src/lib/bip39"]
	path = src/lib/bip39
	url = https://github.com/ciband/bip39.git
[submodule "test/lib/googletest"]
	path = test/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "examples/cmake_example/lib/cpp-crypto"]
	path = examples/cmake_example/lib/cpp-crypto
	url = https://github.com/ArkEcosystem/cpp-crypto.git
