[submodule "extern/BIP66"]
	path = extern/BIP66
	url = https://github.com/sleepdefic1t/BIP66
[submodule "extern/uECC"]
	path = extern/uECC
	url = https://github.com/kmackay/micro-ecc
[submodule "extern/ArduinoJson"]
	path = extern/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
